RewriteEngine On
RewriteBase /dev/infoarena2/

RewriteCond %{REQUEST_URI}  index.php
RewriteRule index.php/(.*) index.php?page=$1
RewriteCond %{REQUEST_URI}  index.php
RewriteRule index.php(.*) index.php?page=$1

RewriteCond %{REQUEST_URI}  !index.php
RewriteRule (.*) index.php?page=$1
