arc
arcanist
libphutil

config.php
eval/config.php

hphp/config.hdf
hphp/build
infoarena
nginx.conf
apache.conf
www/.htaccess

common/lcs
jrun/jrun

attach/*
cache/
smf/attachments/*
scripts/newsletter-logs/
www/static/images/avatar/
www/static/images/latex/
www/static/images/tmp/

arcanist/
libphutil/
