## infoarena apache config

# Main site.
Alias --write-me-IA_URL_PREFIX-- "--write-me-IA_ROOT_DIR--www/"
<Directory "--write-me-IA_ROOT_DIR--www/">
    Order deny,allow
    Deny from all
    Allow from ::1
    Allow from 127.0.0.1
    AllowOverride All
    DirectoryIndex index.php
</Directory>
