<?php

class Config {
  // database connection
  const DB_HOST = 'localhost';
  const DB_NAME = 'nerdarena';
  const DB_USER = 'root';
  const DB_PASSWORD = '';
  const DB_KEEP_ALIVE = false;
  const DB_UNBUFFERED = false;

  // The concatenation URL_HOST + URL_PREFIX should yield the URL of the home
  // page of your installation.

  // protocol://host[:port] . No trailing slash.
  const URL_HOST = 'http://localhost';

  // URL path relative to URL_HOST. Include a trailing slash.
  const URL_PREFIX = '/infoarena/www/';

  // Filesystem root of this installation. Include a trailing slash.
  const ROOT = __DIR__ . '/';

  // Directory for user profile pictures.
  const AVATAR_DIR = __DIR__ .  '/www/static/images/avatar/';

  // Activate some debugging tools and disable some external resources.
  const DEVELOPMENT_MODE = true;

  // Session duration in seconds.
  const SESSION_DURATION = 5 * 86400;

  const FATAL_ERROR_MASK = E_ALL & ~E_USER_NOTICE & ~E_USER_WARNING;

  const ROUND_TEXTBLOCK_PREFIX = 'runda/';
  const TASK_TEXTBLOCK_PREFIX = 'problema/';
  const USER_TEXTBLOCK_PREFIX = 'utilizator/';

  // Set this to something random.
  const RESET_PASSWORD_SALT = '';

  // Mail settings.
  const EMAIL_FROM = 'test@test.com';
  const SMTP = false;
  const SMTP_HOST = 'localhost';
  const SMTP_PORT = 25;

  // Engine ID of the Google custom search engine.
  const GOOGLE_CSE_TOKEN = '';
}
