<?php

class Config {
  // database connection
  const DB_HOST = 'localhost';
  const DB_NAME = 'nerdarena';
  const DB_USER = 'root';
  const DB_PASSWORD = '';
  const DB_KEEP_ALIVE = false;

  // The concatenation URL_HOST + URL_PREFIX should yield the URL of the home
  // page of your installation.

  // protocol://host[:port] . No trailing slash.
  const URL_HOST = 'http://localhost';

  // URL path relative to URL_HOST. Include a trailing slash.
  const URL_PREFIX = '/infoarena/www/';

  // Filesystem root of this installation. Include a trailing slash.
  const ROOT = __DIR__ . '/';

  // Define the place the avatars are being stored
  const AVATAR_DIR = __DIR__ .  '/www/static/images/avatar/';

  // Activate some debugging tools and disable some external resources.
  const DEVELOPMENT_MODE = true;
}
