<?php

// Global configuration file.
// This is just a sample file. Copy this over to config.php and edit.

//
// Here is the essential configuration. You only need to modify this
// to get it working.
//

// This is the subversion checkout directory. include trailing slash.
define("IA_ROOT", '--write-me--');

// Database host. Probably localhost.
define("DB_HOST", 'localhost');

// Database name.
define("DB_NAME", '--write-me--');

// Database user.
define("DB_USER", '--write-me--');

// Database password
define("DB_PASS", '--write-me--');

// Web host. This is probably localhost. no trailing slash here
define("IA_URL_HOST", "http://localhost");

// URL prefix, without the IA_URL_HOST part
// (only the part relative to the web server).
// Slashes at both ends.
define("IA_URL_PREFIX", "--write-me--");

//
// Additional configuration goes here.
//

// "The" url. You don't have to change this.
define("IA_URL", IA_URL_HOST . IA_URL_PREFIX);

// Website root.
define("IA_ROOT_WWW", IA_ROOT . "www/");

// Fatal error mask.
// These are the errors the scripts halts on.
// 0x1155 = E_ERROR | E_PARSE | E_CORE_ERROR | E_COMPILE_ERROR | E_USER_ERROR | E_RECOVERABLE_ERROR
// FIXME: Why isn't this configurable in php.ini?
define("LOG_FATAL_ERRORS", 0x1155);

?>
