body {
  background-color: white;
  color: #222;
  font-family: 'Ubuntu', Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: .4em 0 .4em 0;
}

a img {
  border: none;
}

var {
  font-family: monospace;
  font-style: normal;
}

.vspace-1 {
  margin-bottom: 5px;
}

/* Misc */
a.feed {
  background: url(../images/feed-icon.gif) no-repeat center center;
  display: block;
  float: right;
  height: 20px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -100em;
  width: 20px;
}

div.loading {
  text-align: center;
}

div.loading img {
  margin-right: .5em;
}

#wiki_preview {
  border: 1px dotted silver;
  margin: 1em;
  padding: 1em;
}

#sidebar2 {
  background-color: #2097fc;
  border-radius: 10px;
  color: #fff;
  float: right;
  padding: 0.8em;
  width: 20em;
}

#sidebar2 h3 {
  font-weight: normal;
  margin: 0;
}

#sidebar2 .section {
  margin-bottom: 1em;
}

#sidebar2 ul {
  margin: 0;
  padding-left: 1.5em;
}

#sidebar2 ul li {
  list-style-type: disc;
}

/* block quotes */
blockquote {
  border-left: 5px solid #bbb;
  font-size: 120%;
  font-style: italic;
  line-height: 2em;
  margin: 1em 0 1em 0;
  padding-left: 0.8em;
}

#page {
  margin: 0;
  min-width: 750px;
  text-align: left;
}

#content_small {
  background: linear-gradient(to right, #fff 178px, #f2f2f2 190px, #fff 191px);
  clear: both;
  margin-left: 10px;
  margin-top: 10px;
}

#sidebar {
  border-right: 1px solid #d0d0d0;
  float: left;
  width: 191px;
}

#main {
  background: linear-gradient(#f6f6f6, #fff 52px);
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  margin-left: 191px;
  padding: 15px;
}

/* Wikipage options (actions) */
#wikiOps {
  font-size: 8pt;
}

#wikiOps ul {
  background: linear-gradient(#fff, #f4f4f4);
  float: right;
  margin-top: 0;
}

#wikiOps li {
  display: block;
  float: left;
}

#wikiOps li a {
  display: block;
  padding: 3px 4px;
}

#wikiOps li a: hover {
  background: #fff;
}

#wikiOps li.current a {
  background: #fff;
  font-weight: bold;
}

/* Sidebar :: Main menu */
#nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  font-size: 11pt;
  padding: 0.05em 9px;
}

#nav li a {
  color: #6A6A6B;
  text-decoration: none;
  width: 80%;
}

#nav li:not(.separator)::before {
  color: #fc0;
  content: "\2022"; /* bullet */
  font-size: 18px;
  margin-left: -0.4em;
  margin-right: 0.3em;
}

#nav li a:hover {
  color: #333;
}

#nav li.separator {
  background-color: silver;
  border: 0;
  font-size: 0;
  height: 1px;
  padding: 0;
  width: 97%;
}

#nav li.separator hr {
  display: none;
}

/* sidebar :: login box */
#login {
  margin: 1em 1em 2em 0;
  padding: 0;
}

#login fieldset {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  padding: .5em .5em 0 .5em;
  width: 150px;
}

#login p {
  margin: 0;
  padding-left: .7em;
}

#login label {
  font-weight: normal;
}

/* Sidebar :: search box */
td.gsib_b, td.gsc-result-info-container, td.gsc-orderby-container {
	border: none !important;
}

button.gsc-search-button.gsc-search-button-v2, .gsc-search-button-v2, td.gsc-search-button {
	border: none !important;
	display: block;
}

td.gsc-input{
	border: none !important;
	display: block;
  padding-bottom: 5px;
}

.gsc-webResult:after {
	display: initial !important;
}

iframe#master-1 {
	display: none !important;
}

#google-search {
  margin-left: .2em;
  padding: 0;
}

#google-search fieldset {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  padding: .5em .5em 0 .5em;
  width: 150px;
}

#google-search p {
  margin: 0;
  padding-left: .7em;
}


/* Headers */
#main h1, #main h2, #main h3 {
  font-family: 'Cabin', Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

#main h1 {
  border-bottom: 1px solid #ddd;
  font-size: 19pt;
  margin: .2em 0 .7em 0;
}

#main h2 {
  border-bottom: 1px solid #eee;
  font-size: 16pt;
  margin: .2em 0 0 0;
}

#main h3 {
  border-bottom: none;
  font-size: 13pt;
  margin: .2em 0 0 0;
}

/* Breadcrumbs */
#breadcrumbs {
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  line-height: 2;
  margin: -10px 0 0;
}

#breadcrumbs a {
  font-style: italic;
}

#breadcrumbs .separator {
  color: silver;
}

/* Macros */
div.macroError {
  background-color: red;
  color: white;
  display: inline;
  font-weight: bold;
  margin: 1em;
  padding: .5em;
}

div.macroMessage {
  background-color: #f6f6f6;
  font-weight: bold;
  margin: .5em;
  padding: 5px;
}

/* Flash */
div.flash {
  background-position: 4px 50%;
  background-repeat: no-repeat;
  border: 1px solid #222;
  border-radius: 4px;
  color: #222;
  margin: 1em auto 1em auto;
  padding: .5em .5em .5em 17px;
  text-align: center;
  width: 50%;
}

div.flash.flash-success {
  background-color: #ccffcc;
  background-image: url('../images/icons/task_solved.gif');
}

div.flash.flash-info {
  background-color: #ccccff;
  background-image: url('../images/icons/notice.gif');
}

div.flash.flash-warning {
  background-color: #ffcc00;
  background-image: url('../images/icons/notice.gif');
}

div.flash.flash-error {
  background-color: #cc2222;
  background-image: url('../images/icons/error.gif');
  color: white;
}

div.alert {
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 1rem;
}

div.alert-warning {
  background-color: #fff3cd;
  border-color: #ffe69c;
  color: #664d03;
}

.text-danger {
  color: #dc3545;
}

/* Forms */
form {
  font-size: 1.05em;
  margin: 0;
  padding: 4px;
}

form.inline_form {
  display: inline;
  margin: 0;
  padding: 0;
}

input[type='text'], input[type='password'], select {
  width: 200px;
}

#sidebar input[type='text'], #sidebar input[type='password'], #sidebar select {
  width: 150px;
}

input, select, textarea {
  font-family: 'Ubuntu', Trebuchet MS, Tahoma, Helvetica, Arial, sans-serif;
  padding: .2em;
}

select {
  cursor: pointer;
}

input.button, button.button, a.button {
  background-color: #2097fc;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: .95em;
  font-weight: bold;
  margin: 0;
  padding: .35em .6em;
}

input.important {
  border-width: 3px;
  font-size: 1.05em;
}

input.button:active {
  border-color: #CCCCCC;
  border-left-color: #999999;
  border-top-color: #999999;
}

input.button.disabled {
  color: #aaaaaa;
}

.fieldError, .fieldHelp {
  color: red;
  display: block;
  font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
  font-weight: bold;
}

.fieldHelp {
  color: black;
  font-weight: normal;
}

fieldset img {
  vertical-align: middle;
}

fieldset {
  border-collapse: collapse;
  border-color: silver;
  display: block;
  margin: 0 1em 1em 1em;
  padding: 0 1em 1em 1em;
  width: 50%;
}

legend {
  padding: 0 .5em 0 .5em;
}

ul.form {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.form li {
  height: 1%;
  margin: .5em 0 .5em 0;
}

ul.form label {
  display: block;
  font-weight: bold;
}

ul.form label.checkbox {
  cursor: pointer;
  display: inline;
  font-weight: normal;
}

ul.form {
  margin-left: 1em;
}

fieldset ul.form {
  margin-left: 0;
}

.compare-radio {
  text-align: center;
}

.compare-button-container {
  text-align: right;
}

/* user profile form */
form.profile fieldset input {
  width: 20em;
}

/* textblock editor */
form#form_wikiedit textarea#form_text {
  font-family: monospace;
  font-size: 1em;
  height: 25em;
  width: 100%;
}

form#form_wikiedit input#form_title {
  font-size: 1.2em;
  padding: .2em;
  width: 100%;
}

/* Diff */
.diff {
  border: #999988 solid 1px;
  font-family: monospace;
  margin-bottom: 1em;
}

.diff .deleted {
  background-color: #FFDDDD;
  border: #CC0000 solid 1px;
  display: block;
}

.diff .added {
  background-color: #DDFFDD;
  border: #00AA00 solid 1px;
  display: block;
}

.diff .normal {
  display: block;
}
.diff pre {
  margin: .2em .2em;
  white-space: pre-wrap;
}

.diff del {
  background-color: #EE9999;
  text-decoration: none;
}

.diff ins {
  background-color: #99EE99;
  text-decoration: none;
}

.next_diff {
  float: right;
}

.swap_diff {
  float: right;
  margin: 0.5em;
}

/* Wiki text block */
.wiki_text_block a.wiki_link_external {
  background: transparent url(../images/external.png) no-repeat center right;
  color: #549DC6;
  padding-right: 13px;
}

.wiki_text_block a.wiki_link_missing {
  color: red;
}

.wiki_text_block ul, .wiki_text_block ol {
  line-height: 1.5em;
  margin: 0 .5em .5em 2em;
}

.wiki_text_block ul {
  list-style-type: square;
}

.wiki_text_block ul li, .wiki_text_block ol li {
  margin: 0;
}

.wiki_text_block p {
  margin-bottom: 0.85em;
  margin-top: 0.85em;
}

.wiki_text_block ol {
  margin-top: 1em;
}

.wiki_text_block table {
  line-height: 2em;
  margin: 0.5em 0;
  width: 100%;
}

.wiki_text_block .compact {
  width: auto;
}

.wiki_text_block .compact td, .wiki_text_block .compact th {
  padding: .2em;
}

/* table of contents */
.wiki_text_block ul.toc {
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  margin-left: 0px;
  padding: 0.5em;
  width: 15em;
}

.wiki_was_modified {
  background-color: #ffa;
  background-image: url('../images/icons/notice.gif');
  background-position: 4px 50%;
  background-repeat: no-repeat;
  border: 1px solid olive;
  color: black;
  margin: 1em auto 1em auto;
  padding: .5em .5em .5em 24px;
}

.toc li {
  font-size: 11px;
  line-height: 1.3em;
  list-style-type: none;
}

/* horizontal tabs */
ul.htabs {
  border-bottom: 1px solid #2097fc;
  font-weight: bold;
  margin: 1.5em 0 1em 0;
  padding: 0.9pt 3pt 0;
}

.htabs li {
  display: inline;
  list-style: none;
  margin: 0;
}

.htabs li a,
.htabs li a:link,
.htabs li a:visited {
  background: #fff;
  border: 1px solid #2097fc;
  border-bottom: none;
  color: #2097fc;
  display: inline-block;
  padding: 3px 0.5em;
  text-decoration: none;
}

.htabs li a:hover {
  background: #a8ddff;
  border-color: #2097fc;
  color: #222;
}

.htabs li.active a {
	color: #fff;
	font-weight: 600;
  background: #2097fc;
  border-bottom: 0;
  text-decoration: none;
}

.job-status-processing {
  background: url(../images/indicator.gif) no-repeat left center;
  padding-left: 20px;
}

.job-status-skipped {
  color: #555;
}

/* Job details */
.job {
  width: 100%;
}

.job td, .job th {
  height: 2.3em;
  margin: 0;
  padding: .1em .3em .1em .3em;
  vertical-align: middle;
}

.job th {
  background-color: lightgray;
  font-weight: bold;
  width: 7em;
}

.job-eval-tests td, .job-eval-tests th {
  padding-bottom: 2px;
  padding-top: 2px;
}

.total_score {
  font-weight: bold;
}

/* job eval log */
.job-eval-log {
  display: block;
  font-family: monospace;
  font-size: 1.1em;
  white-space: pre;
}

/* Tasks table */
table.tasks {
  line-height: 1.7em;
}

table.tasks .open_task {
  float: right;
}

/* Basic table css */
table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #aaa;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

/* For highlighting fixes */
pre code table td, pre code table th {
  border: 0px;
}

td.hljs-ln-numbers {
  text-align: right;
}

td.hljs-ln-code {
  padding-left: 5px !important;
}

.hljs {
  background: #fff !important;
}

table.alternating-colors tr:nth-child(even) {
  background-color: #f0f0f0;
}

table tr.color0 {
  background-color: #fff !important;
}

table tr.color1 {
  background-color: #f0f0f0 !important;
}

th {
  background: #ddd;
}

/* inline task submit form */
.inlineSubmit ul.form {
  background-color: #f6f6f6;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

.inlineSubmit .form li {
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

.inlineSubmit .form input, .inlineSubmit .form label {
  display: inline;
}

.inlineSubmit #form_compiler {
  width: 13em;
}

.inlineSubmit #form_round {
  width: 12em;
}

.reeval {
  float: right;
}

/* ban/unban buttons */
a.user-control {
  border-radius: .25rem;
  color: white;
  float: right;
  padding: .375rem .75rem;
}

a.user-control.ban {
  background-color: #dc3545;
  margin-top: 8px;
}

a.user-control.unban {
  background-color: #28a745;
  margin-top: 4px; /* different because of the flash message */
}

/* gallery macro */
.gallery .images a {
  background-color: #f0f0f0;
  border: 2px solid white;
  display: block;
  float: left;
  height: 84px;
  margin: 5px;
  text-align: center;
  width: 134px;
}

.gallery .images img {
  margin: 2px;
}

.gallery .pager {
  clear: left;
  display: block;
}

.gallery .images a:hover {
  background-color: white;
  border: 2px solid black;
}

/* task statement example */
table.example td {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.5em;
  padding: .5em;
  vertical-align: top;
  white-space: nowrap;
}

/* wiki style sheets */
p.pre {
  font-family: monospace;
  line-height: 1.5em;
  margin: 0;
  white-space: pre;
}

p.pre br {
  display: none;
}

table.numbers td, table.numbers th {
  text-align: right;
}

/* User badges */
.tiny-user {
  height: 24px;
}

.tiny-user a {
  text-decoration: none;
}

.tiny-user .username {
  font-weight: bold;
}

.tiny-user img {
  background: #fff;
  border: 1px solid #D8D6CB;
  display: inline;
  margin: 3px;
  vertical-align: middle;
}

img.avatar-tiny {
  height: 16px;
  width: 16px;
}

img.avatar-small {
  height: 32px;
  width: 32px;
}

img.avatar-normal {
  height: 50px;
  width: 50px;
}

img.avatar-big {
  height: 150px;
  width: 150px;
}

div.normal-user {
  height: 48px;
  line-height: 1.5em;
}

div.normal-user .username {
  font-weight: bold;
}


div.normal-user img {
  background: #fff;
  border: 1px solid #D8D6CB;
  display: block;
  float: left;
  margin: 7px;
}

/* monitor */
table.monitor {
  margin: .5em auto 2em auto;
  width: 100%;
}

/* task list */
.tasks td.score, .tasks th.score {
	text-align: center;
  padding-right: 4pt;
  width: 10%;
}

.tasks td.score {
  color: gray;
  font-size: .7em;
}

.tasks td.task {
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 23px;
}

.tasks td.number {
  width: 5%;
}

.tasks td.rating {
  color: gray;
  font-size: .7em;
  padding-left: 4px;
  width: 10%;
}

.tasks tr.solved td.task {
  background-image: url('../images/icons/task_solved.gif');
}

.tasks tr.tried td.task {
  background-image: url('../images/icons/task_tried.gif');
}

.tasks tr.tried td.score, .tasks tr.solved td.score {
  color: black;
  font-size: 1em;
}

#monitor-table, table.tasks  {
	font-size: 10.4pt;
}

/* rankings */
td.rank, th.rank {
  width: 2em;
}

td.rating, th.rating {
	text-align: center;
  width: 2em;
}

/* pager (paginator) */
.pager a, .pager strong {
  padding: .1em .3em .0em .3em;
}

.pager a:hover {
  background-color: silver;
}

.pager .count {
  font-size: small;
}

.pager .entries-per-page {
  float: right;
  font-size: small;
  height: 15px;
}

/* user count */
.user-count {
  color: #6A6A6B;
  margin-left: 1.2em;
  margin-top: 1em;
  text-align: left;
}

/* task enumeration */
.task_enum {
  font-size: .9em;
}

/* round registration */
.round-register, .round-registered, .round-expired {
  background-color: #fff;
  padding: 0 1em;
  width: 50%;
}

.round-registered {
  border: 2px solid silver;
}

.round-register {
  background-color: #ffa;
  border: 2px solid red;
}

.round-expired {
  border: 2px solid silver;
}

.round-register a {
  margin: 0 .5em 0 .5em;
}

table.registered-users {
  width: 100%;
}

/* quote */
.quote {
  border: 1px solid #000000;
  color: #000000;
  font-size: x-small;
  padding: 0.25em;
}

.banner {
  display: flex;
}

.banner div {
  align-items: center;
  background-color: #b2d7f1;
  border-radius: 5px;
  display: flex;
  margin: 0em auto;
  padding: 0.3em;
}

.banner img {
  margin-right: 1em;
}

.banner a {
  margin-left: 0.3em;
}

/* Round status icons */
.round-complete, .round-waiting, .round-running {
	margin: auto;
  display: block;
  height: 16px;
  width: 16px;
}

.round-complete {
  background: url("../images/complete.gif");
  height: 11px;
  width: 14px;
}

.round-waiting {
  background: url("../images/hourglass.png");
}

.round-running {
  background: url("../images/run.png");
}

.submit-warning {
  color: red;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Task algorithm tags page */
.task-tag-actions {
  margin: 0.5em;
}

ul.task-tag-actions li {
  display: inline;
}

.tag-table .tag-task-count {
  width: 20%;
}

.tag-table .tag-operations {
  width: 25%;
}

/* Task filter by tag page */
.filter_results {
  line-height: 2em;
}

ul.tag_filters {
  line-height: 1.5em;
  margin: 0 .5em .5em 2em;
}

/* Proper Security UI */
.security_show {
  display: inline;
  margin-left: 0.5em;
}

.security_hide {
  display: none;
}

/* Sort tables */
.hidden {
  display: none;
}

/* Show pointer cursor on sortable table headers */
table.sortable th {
  cursor: pointer;
}

/* Make form tables have no border */
table.form {
  width: 100%;
}

table.form td {
  border: 0px;
}

/* Menu for task filtering */
#task-filter-menu {
  float: left;
  height: 100%;
  margin-top: 30px;
  position: relative;
  text-align: center;
  width: 200px;
}

#task-filter-menu ul {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 0;
}

.mainmenu li {
  position: relative;
}

.mainmenu li a {
  background-color: #BAD48A;
  border: solid 1px #699A0A;
  color: #555;
  display: block;
  font-family: monospace;
  height: 26px;
  line-height: 26px;
  padding: 2px;
  text-align: left;
  text-shadow: 0px 2px 3px #BAD48A;
  transition: background-color 0.2s ease-in;
  width: 200px;
}

.mainmenu li+li a {
  border-top: solid 1px #fff;
}


.mainmenu li a:hover {
  background-color: #699A0A;
  color: #fff;
  text-decoration: none;
  text-shadow-color: #699A0A;
}

/* Just some round corners, won't work in IE < 9 but it's okay*/
.mainmenu > li:first-child > a {
  border-top-left-radius: 10px;
}

/* Now the submenus */
.submenu {
  left: 206px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: visibility 0s ease-in 0.2s, opacity 0.2s ease-in;
  visibility: hidden;
  z-index: 100;
}

.submenu li a{
  border-left-color: #fff;
  width: 250px;
}

li:hover > ul.submenu {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}

/* Help for task filtering */
#task-filter-help {
  height: 20px;
  text-align: center;
  width: 100%;
}

#task-filter-help div {
  background-color: #BAD48A;
  display: inline-block;
  height: 20px;
  margin-left: 20px;
  transition: background-color 0.2s ease-in;
  vertical-align: middle;
  width: 20px;
}

#task-filter-help div:hover {
  background-color:  #699A0A;
}

li.selected-filter > a, #task-filter-help div.selected-filter {
  background-color: #E86C6C;
}

li.selected-filter > a:hover, #task-filter-help div.selected-filter:hover {
  background-color: #C12425;
}

li.sub-selected-filters > a, #task-filter-help div.sub-selected-filters {
  background-color: #72ADE8;
}

li.sub-selected-filters > a:hover,
#task-filter-help div.sub-selected-filters:hover {
  background-color: #2285E8;
}

li.selected-filter.sub-selected-filters > a,
#task-filter-help div.selected-filter.sub-selected-filters {
  background-color: #B6A8E8;
}

li.selected-filter.sub-selected-filters > a:hover,
#task-filter-help div.selected-filter.sub-selected-filters:hover {
  background-color: #896EE8;
}

/* Task filtering table */
#task-filter-table {
  display: block;
  margin-left: 200px;
  padding: 10px;
}

.skip-job {
  float: right;
}

.skip-job input {
  display: inline;
}

.skip-job-link {
  cursor: pointer;
}

div.rejected-textile {
  color: red;
}

.text-right {
  text-align: right;
}
