/* site header */
#header {
    height: 64px;
    border-bottom: 1px solid #333;
    background: url('../images/logo_bg.jpg') repeat-x top left;
    position: relative;
}

#header h1 a {
    background:url('../images/logo.jpg') no-repeat left top;
    height:60px;
    width:300px;
    text-indent:-9999px;
    display: block;
}

/* search box in site header */
#search {
    float:right;
    padding: 12px 15px;
    background:#5C880B url(../images/search.jpg) no-repeat bottom left;
}

#search input {
    vertical-align:middle;
    padding: 0;
    font-size: 10pt;
}

#search #inputbox {
    width:120px;
}

/* userbox in site header */
#userbox {
    float: right;
    background:#5C880B url(../images/search.jpg) no-repeat bottom left;
    width: 250px;
    font-size: 8pt;
    line-height: 1.5em;
}

#userbox img {
    float: right;
    padding: 1px;
    margin: 1px;
    background:#fff;
    display:block;
}

#userbox .user {
    display: block;
    margin: 2px 3px 3px 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 180px;
}

#userbox, #userbox a {
    color: #eee;
}

#userbox a.logout {
    background: url('../images/icons/key.gif') no-repeat center left;
    padding-left: 22px;
}

/* site footer */
#footer {
    border-top:1px solid #B7D285;
    background:url(../images/footer.jpg) repeat-x top;
    margin-top:1px;
    padding:10px 20px;
    font-size:11px;
    color:#999;
}

#footer ul {
}

#footer li {
    display:block;
    float:left;
    margin-right:15px;
}

#footer li.top {
    float:right;
}

#footer li.separate {
    border-left: 1px solid silver;
    padding-left: 15px;
}

#footer .cc {
    font-size:10px;
    margin-top:6px;
    text-align: left;
}

#footer a.badge {
    float: left;
    margin-right: 6px;
}
/* top navigation bar */
#topnav {
    float: left;
    width: auto;
    line-height: normal;
    margin: 0 0 .5em 1em;
    padding: 0 6px 0 0;
    background: url('../images/tab/end.gif') right bottom no-repeat;
}

#topnav ul {
    float: left;
    margin: 0;
    padding: 0 0 0 6px;
    background: url('../images/tab/begin.gif') left bottom no-repeat;
}

#topnav li {
    float: left;
    padding: 0;
    margin: 0 .4em 0 .4em;
    display: inline;
    list-style-type: none;
}

#topnav a {
    display: block;
    color: white;
    font-size: 8pt;
    padding: .1em 0 .5em 0;
}

#topnav a:hover {
    text-decoration: underline;
}

#topnav strong {
    display: block;
    background: url('../images/tab/a_end.gif') right bottom no-repeat;
    padding-right: 4px;
}

#topnav strong a {
    background: url('../images/tab/a_begin.gif') left bottom no-repeat;
    padding-left: 12px;
    padding-right: 6px;
}

/* misc */
.clear {
    height: 1%;
}
.clear:after {
    content:".";
    height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.hollyfix {
    height: 1%;
}

/* color-coded user ratings */
/* put some extra work to override SMF CSS */
a.rating-badge-1, a.rating-badge-2, a.rating-badge-3, a.rating-badge-4,
a.rating-badge-1:link, a.rating-badge-2:link, a.rating-badge-3:link, a.rating-badge-4:link {
    font-size: 12pt;
    font-weight: normal;
    padding: 0 0 0 .1em;
    margin: .1em .1em .1em 0;
    border: 1px solid white;
}
a.rating-badge-1:hover, a.rating-badge-2:hover, a.rating-badge-3:hover, a.rating-badge-4:hover {
    border: 1px solid gray;
    text-decoration: none;
}
a.rating-badge-3:link, a.rating-badge-3:visited { color: #00a900; }
a.rating-badge-2:link, a.rating-badge-2:visited { color: #ddcc00; }
a.rating-badge-1:link, a.rating-badge-1:visited { color: #ee0000; }
a.rating-badge-3:hover { border-color: #00a900; }
a.rating-badge-2:hover { border-color: #ddcc00; }
a.rating-badge-1:hover { border-color: #ee0000; }
#header a.rating-badge-1, #header a.rating-badge-2, #header a.rating-badge-3 {
    padding-right: .1em;
    margin-right: .1em;
    border: 0;
    font-size: 12pt;
}
#header a.rating-badge-3 { color: #00a900; }
#header a.rating-badge-2 { color: #ddcc00; }
#header a.rating-badge-1 { color: #ee0000; }

/* stuff displayed in development mode */
#log, #log_active {
    clear: both;
    width: 98%;
    font-family: monospace;
    font-size: 9pt;
    border: 1px solid silver;
    color: gray;
}
#log_active {
    color: black;
    background-color: white;
    border-color: black;
}
#dev_warning {
    float: right;
    color: yellow;
    font-weight: bold;
    margin-right: 1.5em;
}

/* access key */
span.access-key {
    text-decoration: underline;
}

/* star ratings */
span.star-rating {
    white-space: nowrap;
}

