body {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
    margin: 1em;
}

#content {
    margin-left: 11em;
}

#header {
    background-color: #ddf;
    padding: .5em .5em .5em 1em;
    border-bottom: 2px solid navy;
}

#footer {
    background-color: #ddf;
    padding: .5em;
    border-top: 2px solid navy;
    font-size: .85em;
    text-align: center;
    margin-top: 2em;
    clear: both;
}

#footer a {
    color: black;
}

#logo {
    font-size: 20pt;
    font-family: Trebuchet MS, Tahoma, Arial;
    text-decoration: none;
    color: black;
}

#usp {
    display: block;
    font-style: italic;
    margin-top: -.5em;
    font-family: Trebuchet MS, Tahoma, Arial;
    color: gray;
    margin-left: 4em;
    font-size: .9em;
}

#logo:hover {
    color: red;
}

div.loading {
    text-align: center;
}

div.loading img {
    margin-right: .5em;
}

#wiki_preview {
    padding: 1em;
    margin: 1em;
    border: 1px dotted silver;
}

#userbox {
    float: right;
    font-size: .9em;
    position: absolute;
    top: 2em;
    right: 2em;
}

#userbox a {
    display: block;
}

/* Main Navigation */
#nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
}

#nav a {
    display: block;
    padding: .3em .3em .3em .5em;
    text-decoration: none;
    color: black;
}

#nav a:hover {
    color: #eef;
    text-decoration: underline;
    background-color: black;
}

/* Sidebar */
#sidebar {
    font-size: .9em;
    margin: 1em 1em 1em 0;
    float: left;
    background-color: #eef;
    width: 11em;
}

#sidebar a {
    color: black;
}

.sidebox {
    margin: 1em 0 1em 0;
    padding: .3em;
}

.sidebox .title {
    display: block;
    margin: 0 0 1em 0;
    background-color: #ddf;
    color: navy;
    font-weight: bold;
    text-align: center;
    padding: .3em;
}

/* Wiki */
#wikiOps {
    font-size: .8em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3em;
    float: right;
    white-space: nowrap;
}

#wikiOps li {
    display: inline;
}

.wiki_text_block a.wiki_link_external {
    color: green;
}

.wiki_text_block a.wiki_link_missing {
    color: red;
}

/* Content */
h1 {
    font-family: Trebuchet MS, Tahoma, Arial;
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
    font-family: Trebuchet MS, Tahoma, Arial;
    margin: 1em 0 0 0;
    padding: 0;
}

div.flash {
    text-align: center;
    background-color: #ffa;
    color: black;
    margin: 1em auto 1em auto;
    padding: .5em;
    border: 1px solid olive;
    width: 50%;
}

div.flashError {
    background-color: red;
    color: white;
}

/* Forms */
form {
    margin: 1em 0 1em 0;
    padding: 4px;
    font-size: 1em;
}

input, select, textarea {
    font-size: 1.2em;
    padding: .3em;
    font-family: Trebuchet MS, Tahoma, Arial;
}

select {
    padding: 0;
    cursor: pointer;
}

input.button {
    cursor: pointer;
    border: 1px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    background-image: url('../images/background_form_element.gif');
    background-repeat: repeat-x;
    color: black;
    margin: 2px;
    font-weight: bold;
    font-size: .95em;
    padding: .2em; 
}

input.important {
    border-width: 3px;
    font-size: 1em;
}

input.button:active {
    border-color: #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}

.fieldError, .fieldHelp {
    display: block;
    color: red;
    font-size: small;
    font-weight: bold;
    font-family: Trebuchet MS, Tahoma, Arial;  
}

.fieldHelp {
    color: black;
}

ul.form {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.form label {
    display: block;
    font-weight: bold;
    padding: 1em 0 0 0;
    font-size: .9em;
}

textarea#form_content {
    width: 80%;
    height: 25em;
    font-family: monospace;
    font-size: 1em;
}

form.task #form_title {
    width: 15em;
}

form.task li#field_title, form.task li#field_author, form.task
li#field_source {
    float: left;
    margin-right: 1em;
}

form.task li#field_content {
    clear: both;
}

/* Diff */
.diff {
    font-family: monospace;
}

.diff .deleted {
    display: block;
    background-color: #F66;
}

.diff .added {
    display: block;
    background-color: #6F6;
}

.diff span {
    margin: .5em 0 .5em 0;
    display: block;
}

