/* Basic styles */
* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.5;
	text-align:center;
	color:#222;
}

.clear:after {
	content:".";
	height:0;
	display:block;
	visibility:hidden;
	clear:both;
}

* html .clear {
	height: 1%;
}

a {
	color:#006699;
	text-decoration:none;
}

a:hover {
	background:#F8F8EF;
	text-decoration:underline;
}

p {
	margin-bottom:15px;
}

a img {
    border: none;
}

p.pre {
    white-space: pre;
    font-family: monospace;
    line-height: 1.5em;
    margin: 0;
}

p.pre br {
    display: none;
}

var {
    font-style: normal;
    font-family: monospace;
}

/* Misc */
a.feed {
	float:right;
	display:block;
	margin:0;
	padding:0;
    width: 20px;
    height: 20px;
    background: url(../images/feed-icon.gif) no-repeat center center;
    text-indent: -100em;
    overflow: hidden;
}

div.loading {
    text-align: center;
}

div.loading img {
    margin-right: .5em;
}

#wiki_preview {
    padding: 1em;
    margin: 1em;
    border: 1px dotted silver;
}

div.sidehelp {
    float: right;
    width: 12em;
    padding: 1em;
    background-color: #ccf;
}

/* Layout */ 
/*
The basic layout of the homepage is as follows:

- #page
	- #header
	- #content
		- #sidebar
		- #main
            - h1
			- .wiki_text_block
                - h[2|3|4]
                - ul
                - ol
                - ...
            - .news
                .item
                    .date
                    h3
                    .wiki_text_block
	- #footer
*/

#page {
	min-width:750px;
	margin:0 20px;
	text-align:left;
	background:#fff url(../images/top.gif) no-repeat top center;
	/*border:1px solid #9CA29E;*/
}

#header {
	height: 80px;
	background:url(../images/shield_new_tile.jpg) repeat-x top left;
	position:relative;
}

#content_small {
	background:url(../images/main_small.jpg) repeat-y ;
}

#sidebar {
	width:191px;
	float:left;
}

#main {
	/*width:549px;
	float:right;*/
	background:#fff url(../images/main_tile.jpg) repeat-x top;
	padding:15px;
	margin-left:191px;
	border-left:1px solid #d0d0d0;
}

#miscbox {
	width:188px;
	float:right;
	/*border:1px solid #D3D1C6;*/
}

#upcoming {
	margin-bottom:10px;
}

#upcoming, #newprobs {
	padding:5px;
	background:#fc0 url(../images/upcoming.jpg) no-repeat bottom left;
	border:1px solid #fc0;
}

#footer {
	border-top:1px solid #B7D285;
	background:url(../images/footer.jpg) repeat-x top;
	margin-top:1px;
	padding:10px 20px;
	font-size:11px;
	color:#999;
}

#upcoming ul, #newprobs ul {
	border:1px solid #fc0;
	padding:5px;
	background:#fff;
}

#upcoming h2, #newprobs h2 {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#840;
}

#upcoming li, #newprobs li {
	border-bottom:1px solid #cecece;
	display:block;
	background:#fff url(../images/misc_li.jpg) no-repeat center bottom;
}

#upcoming a, #newprobs a {
	text-decoration:none;
	display:block;
	line-height:1.1;
}

#upcoming a, #newprobs a {
	padding:5px;
	font-size:11px;
}

#upcoming a:hover, #newprobs a:hover {
	text-decoration:underline;
	background:#F8F8EF;
}

#upcoming a span {
display:block;
}


/* Page header */
#header h1 a {
	background:url(../images/shield_new.jpg) no-repeat left top;
	height:60px;
	width:300px;
	text-indent:-9999px;
    display: block;
}

#header #search {
	float:right;
	padding: 12px 15px;
	background:#5C880B url(../images/search.jpg) no-repeat bottom left;
}

#header #search input {
	vertical-align:middle;
}

#header #search #inputbox {
	width:120px;
}

/* Wikipage options (actions) */
#wikiOps {
	font-size:10px;
}

#wikiOps ul {
    background:url(../images/wiki.jpg) repeat-x bottom left;
}

#wikiOps ul {
	float:right;
	border:1px solid #D3D1C5;
}

#wikiOps li {
	display:block;
	float:left;
}

#wikiOps li a {
	display:block;
	padding:3px 4px;
}

#wikiOps li a:hover {
	background:#fff;
}

#wikiOps li.current a {
	background:#fff;
	font-weight:bold;
}

/* Sidebar :: Main menu */
#nav {
	margin-right:10px;
}

#nav li {
	display:block;
	/*border-bottom:1px solid #D3D1C6;
	border-top:1px solid #F6F4E8;
	background:url(../images/menu_li.gif) repeat-x bottom left;*/
	font-size:12px;
}

#nav li a {
	display:block;
	padding:3px 15px; 
	color:#6A6A6B;
	text-decoration:none;
	background:url(../images/bullet.gif) no-repeat 3px center ;
}

#nav li a:hover {
	color:#333;
	background:#FFEFB1 url(../images/bullet.gif) no-repeat 3px center ;
}

#nav li.separator hr {
    height: 1px;
    border: 0;
    background-color: silver;
}

#nav li.current a {
	font-weight:bold;
	background:url(../images/bullet_current.gif) no-repeat 2px center ;
	font-variant:small-caps;
	color:#333;
}


#nav li.current a:hover {
	color:#333;
	background:#FFEFB1 url(../images/bullet_current.gif) no-repeat 2px center ;
}

/* Sidebar :: login box */
#login {
	border:1px solid #fc0;
	border-right:none;
	border-left:none;
	background:#fff url(../images/login.jpg) no-repeat top left;
	padding:10px 20px;
	margin-top:20px;
	margin-right:10px;
	color:#000;
}

#login label {
	line-height:1.8;
	margin-top:5px;
}

#login h2 {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	
}

#login input {
	width:95%;
}

#login #loginSubmit {
	margin-top:10px;
	text-align:center;
}

#login #loginSubmit input {
	display:inline;
}

#login #loginRem {
	display:inline;
	width:auto;
}

#login #loginSub {
	margin-top:3px;
	margin-bottom:6px;
}

/* Sidebar :: avatar */
#avatar {
    width: 165px;
    height: 80px;
}

#avatar img {
	border:1px solid #D8D6CB;
	padding:5px;
	background:#fff;
	display:block;
	float:left;
	margin-right:5px;
}

#avatar p {
	font-size:11px;
	margin:0;
	padding:6px 0 8px;
}

/* Main (content) */
#main h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17pt;
	font-weight: normal;
    margin: .2em 0 .7em 0;
    border-bottom: 1px solid #eee;
}

#main h2 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14pt;
	font-weight: normal;
    margin: .2em 0 0 0;
}

/* News */
.news {
	/*width:340px;
	float:left;*/
    width: 95%;
    margin-top: 1em;
}

* html .news {
	height: 1%;
}

#main .news h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
    color: green;
	font-size: 13pt;
	font-weight: normal;
    border: 0;
    margin: 0;
}

.news .item {
	border-bottom: 1px solid #EBE9DC;
	margin-bottom: 1em;
    width: 100%;
    padding: 0 .5em 0 .5em;
}

.news .item .wiki_text_block {
    line-height: 1.5em;
    margin-left: 47px;
}

.news .item .date {
	float: left;
	width: 25px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 8.5pt;
	margin: 5px 8px 5px 0;
	padding-top: 10px;
	color: #060;
	background: #D9E7BE url(../images/calendar.jpg) no-repeat top center;
	line-height: 1.2;
}

/* Breadcrumbs */
#breadcrumbs {
	font-size:11px;
	line-height:2;
    margin: 0;
    margin-top: -10px;
    border-bottom: 1px solid #f0f0f0;
}

#breadcrumbs a {
    font-style: italic;
}

#breadcrumbs .separator {
    color: silver;
}

/* Horizontal strap (i.e. "Vezi arhiva stiri") */
.strap {
	padding:5px 26px;
	background: #f6f6f6 url(../images/documents_16.gif) no-repeat 5px center ;
	margin-top:-14px;
	text-align:right;
	font-size:11px;
	color:#555;
}

.strap a {
	font-weight:bold;
	text-transform:uppercase;
}

/* Footer */
#footer ul {
}

#footer li {
	display:block;
	float:left;
	margin-right:15px;
}

#footer li.top {
	float:right;
}

#footer li a {
	display:block;
}

#footer p {
	font-size:10px;
	margin-top:6px;
}

/* Macros */
div.macroError {
    background-color: red;
    font-weight: bold;
    color: white;
    display: inline;
    margin: 1em;
    padding: .5em;
}

/* Flash */
div.flash {
    text-align: center;
    background-color: #ffa;
    color: black;
    margin: 1em auto 1em auto;
    padding: .5em;
    border: 1px solid olive;
    width: 50%;
}

div.flashError {
    background-color: red;
    color: white;
    border: 1px solid pink;
}

/* Forms */
form {
    margin: 1em 0 1em 0;
    padding: 4px;
    font-size: 1em;
}

input, select, textarea {
    font-family: Trebuchet MS, Tahoma, Arial;
}

select {
    padding: 0;
    cursor: pointer;
}

input.button {
    cursor: pointer;
    border: 1px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    background-image: url('../images/background_form_element.gif');
    background-repeat: repeat-x;
    color: black;
    margin: 2px;
    font-weight: bold;
    font-size: .95em;
    padding: .2em; 
}

input.important {
    border-width: 3px;
    font-size: 1em;
}

input.button:active {
    border-color: #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}

.fieldError, .fieldHelp {
    display: block;
    color: red;
    font-size: small;
    font-weight: bold;
    font-family: Trebuchet MS, Tahoma, Arial;  
}

.fieldHelp {
    color: black;
}

ul.form {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.form label {
    display: block;
    font-weight: bold;
    padding: 1em 0 0 0;
    font-size: .9em;
}

/* textblock editor */
textarea#form_content {
    width: 100%;
    height: 25em;
    font-family: monospace;
    font-size: 1em;
}

input#form_title {
    width: 100%;
    font-size: 1.2em;
    padding: .2em;
}

/* task editor */
form.task li#field_title, form.task li#field_author, form.task
li#field_source {
    float: left;
    margin-right: 1em;
}

form.task li#field_content {
    clear: both;
}

form.round li#field_tasks select {
    width: 20em;
}

/* Diff */
.diff {
    font-family: monospace;
}

.diff .deleted {
    display: block;
    background-color: #F66;
}

.diff .added {
    display: block;
    background-color: #6F6;
}

.diff span {
    margin: .5em 0 .5em 0;
    display: block;
}

/* Wiki text block */
.wiki_text_block {
    line-height: 2em;
}

.wiki_text_block a.wiki_link_external {
    color: green;
}

.wiki_text_block a.wiki_link_missing {
    color: red;
}

.wiki_text_block ul, .wiki_text_block ol {
    line-height: 1.5em;
    margin: 0 .5em 1em 3em;
}

.wiki_text_block ul {
    list-style-type: square;
}

.wiki_text_block ul li, .wiki_text_block ol li {
    margin: 0;
}

#main .wiki_text_block h2, .wiki_text_block h3, .wiki_text_block h4 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
    margin: .5em 0 0 0;
}

.wiki_text_block h2 {
    border-bottom: 1px solid #eee;
}

.wiki_text_block h3 {
    font-size: 1.4em;
}

.wiki_text_block h4 {
    font-size: 1.2em;
    font-style: italic;
}

/* Job details */
.jobDetail ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jobDetail li {
    display: block;
    float: none;
    width: 30%;
}

.jobDetail li .desc {
    width: 7em;
    display: block;
    float: left;
}

.jobDetail li.evalLog {
    clear: left;
    float: none;
    width: 100%;
}

.jobDetail div.evalLog span {
    display: block;
    float: none;
    width: auto;
}

.jobDetail div.evalLog pre {
    display: block;
}

/* Basic table css */
table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #aaa;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

tr.odd {
    background: #fff;
}

tr.even {
    background: #eee;
}

th {
    background: #ddd;
}

/* inline task submit form */
.inlineSubmit ul.form {
	background-color: #f6f6f6;
    padding: 5px;
    margin: 0;
}

.inlineSubmit .form li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.inlineSubmit .form input, .inlineSubmit .form label {
    display: inline;
}

/* gallery macro */
.gallery {
}

.gallery a {
    margin: 5px;
    display: block;
    width: 134px;
    height: 84px;
    float: left;
    text-align: center;
    border: 2px solid white;
    background-color: #f0f0f0;
}

.gallery img {
    margin: 2px;
}

.gallery a:hover {
    border: 2px solid black;
    background-color: white;
}

/* task statement example */
table.example td {
    font-size: 1.1em;
    font-family: monospace;
    line-height: 1.5em;
    vertical-align: top;
    padding: .5em;
}
