/* Basic styles */
* {
    margin:0;
    padding:0;
}

body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:1.5;
    text-align:center;
    color:#222;
}

a {
    color:#006699;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

p {
    margin: .4em 0 .4em 0;
}

a img {
    border: none;
}

var {
    font-style: normal;
    font-family: monospace;
}

/* Misc */
a.feed {
    float:right;
    display:block;
    margin:0;
    padding:0;
    width: 20px;
    height: 20px;
    background: url(../images/feed-icon.gif) no-repeat center center;
    text-indent: -100em;
    overflow: hidden;
}

div.loading {
    text-align: center;
}

div.loading img {
    margin-right: .5em;
}

#wiki_preview {
    padding: 1em;
    margin: 1em;
    border: 1px dotted silver;
}

table td.number, table th.number {
    text-align: right;
}

/* sidebar2 (right) */
#sidebar2 {
    float: right;
    width: 15em;
    padding: 1em;
    background-color: #B7D285;
}

#sidebar2 h3 {
    margin: 0;
    font-weight: normal;
}

#sidebar2 .section {
    margin-bottom: 1em;
}

#sidebar2 ul {
    padding-left: 1.5em;
    margin: 0;
}

#sidebar2 ul li {
    list-style-type: disc;
}

/* block quotes */
blockquote {
    text-indent: 25px;
    background: url('../images/quotes1.png');
    background-position: 0 2px;
    background-repeat: no-repeat;
    margin: 1em 0 1em 0;
}

blockquote p {
    line-height: 2em;
    display: inline;
    margin: 0;
    font-style: italic;
    padding-right: 24px;
    background: url('../images/quotes2.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

/* Layout */
/*
The basic layout of the homepage is as follows:

- #page
    - #header
    - #content
        - #sidebar
        - #main
            - h1
            - .wiki_text_block
                - h[2|3|4]
                - ul
                - ol
                - ...
            - .news
                .item
                    .date
                    h3
                    .wiki_text_block
    - #footer
*/

#page {
    min-width:750px;
    margin:0 20px;
    text-align:left;
}

#content_small {
    background:url(../images/main_small.jpg) repeat-y ;
    clear: both;
}

#sidebar {
    width: 191px;
    float: left;
}

#main {
    /*width:549px;
    float:right;*/
    background:#fff url(../images/main_tile.jpg) repeat-x top;
    padding:15px;
    margin-left:191px;
    border-left:1px solid #d0d0d0;
}

#miscbox {
    width:188px;
    float:right;
    /*border:1px solid #D3D1C6;*/
}

#upcoming {
    margin-bottom:10px;
}

#upcoming, #newprobs {
    padding:5px;
    background:#fc0 url(../images/upcoming.jpg) no-repeat bottom left;
    border:1px solid #fc0;
}

#upcoming ul, #newprobs ul {
    border:1px solid #fc0;
    padding:5px;
    background:#fff;
}

#upcoming h2, #newprobs h2 {
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    color:#840;
}

#upcoming li, #newprobs li {
    border-bottom:1px solid #cecece;
    display:block;
    background:#fff url(../images/misc_li.jpg) no-repeat center bottom;
}

#upcoming a, #newprobs a {
    text-decoration:none;
    display:block;
    line-height:1.1;
}

#upcoming a, #newprobs a {
    padding:5px;
    font-size:11px;
}

#upcoming a:hover, #newprobs a:hover {
    text-decoration:underline;
    background:#F8F8EF;
}

#upcoming a span {
    display:block;
}


/* Wikipage options (actions) */
#wikiOps {
    font-size:8pt;
}

#wikiOps ul {
    background:url(../images/wiki.jpg) repeat-x bottom left;
}

#wikiOps ul {
    float:right;
}

#wikiOps li {
    display:block;
    float:left;
}

#wikiOps li a {
    display:block;
    padding:3px 4px;
}

#wikiOps li a:hover {
    background:#fff;
}

#wikiOps li.current a {
    background:#fff;
    font-weight:bold;
}

/* Sidebar :: Main menu */
#nav {
    margin-right:10px;
}

#nav li {
    display:block;
    font-size: 10pt;
}

#nav li a {
    display:block;
    width: 80%;
    padding: 3px 15px;
    color:#6A6A6B;
    text-decoration:none;
    background:url(../images/bullet.gif) no-repeat 3px center ;
}

#nav li a:hover {
    color:#333;
    background:#FFEFB1 url(../images/bullet.gif) no-repeat 3px center ;
}

#nav li.separator {
    padding: 0;
    width: 97%;
    height: 1px;
    border: 0;
    background-color: silver;
    font-size: 0;
}

#nav li.separator hr {
    display: none;
}

/* sidebar :: login box */
#login {
    padding: 0;
    margin: 2em 1em 2em 0;
}

#login fieldset {
    width: 150px;
    margin: 0;
    padding: .5em .5em 0 .5em;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#login p {
    padding-left: .7em;
    margin: 0;
}

#login label {
    font-weight: normal;
}

/* Main (content) */
#main h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17pt;
    font-weight: normal;
    margin: .2em 0 .7em 0;
    border-bottom: 1px solid #eee;
}

#main h2 {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    margin: .2em 0 0 0;
    border-bottom: 1px solid #eee;
}

/* News */
.news {
    /*width:340px;
    float:left;*/
    width: 95%;
    margin-top: 1em;
}

* html .news {
    height: 1%;
}

#main .news h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: green;
    font-size: 13pt;
    font-weight: normal;
    border: 0;
    margin: 0;
}

.news .item {
    border-bottom: 1px solid #EBE9DC;
    margin-bottom: 1em;
    width: 100%;
    padding: 0 .5em 0 .5em;
}

.news .item .wiki_text_block {
    line-height: 1.5em;
    margin-left: 47px;
}

.news .item .date {
    float: left;
    width: 25px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 8.5pt;
    margin: 5px 8px 5px 0;
    padding-top: 10px;
    color: #060;
    background: #D9E7BE url(../images/calendar.jpg) no-repeat top center;
    line-height: 1.2;
}

/* Breadcrumbs */
#breadcrumbs {
    font-size:11px;
    line-height:2;
    margin: 0;
    margin-top: -10px;
    border-bottom: 1px solid #f0f0f0;
}

#breadcrumbs a {
    font-style: italic;
}

#breadcrumbs .separator {
    color: silver;
}

/* Horizontal strap (i.e. "Vezi arhiva stiri") */
.strap {
    padding:5px 26px;
    background: #f6f6f6 url(../images/documents_16.gif) no-repeat 5px center ;
    margin-top:-14px;
    text-align:right;
    font-size:11px;
    color:#555;
}

.strap a {
    font-weight:bold;
    text-transform:uppercase;
}

/* Macros */
div.macroError {
    background-color: red;
    font-weight: bold;
    color: white;
    display: inline;
    margin: 1em;
    padding: .5em;
}

div.macroMessage {
    background-color: #f6f6f6;
    padding: 5px;
    font-weight: bold;
    margin: .5em;
}

/* Flash */
div.flash {
    text-align: center;
    background-color: #ffa;
    color: black;
    margin: 1em auto 1em auto;
    padding: .5em .5em .5em 17px;
    border: 1px solid olive;
    width: 50%;
    background-image: url('../images/icons/notice.gif');
    background-position: 4px 50%;
    background-repeat: no-repeat;
}

div.flashError {
    background-color: #cc0000;
    color: white;
    border: 1px solid pink;
    background-image: url('../images/icons/error.gif');
}

div.warning {
    color: black;
    margin: 0em 0em 0em 0em;
    padding: .2em .2em .2em 20px;
    border: 1px solid olive;
    background-image: url('../images/icons/notice.gif');
    background-position: 2px 50%;
    background-repeat: no-repeat;
    width: 55%;
}

/* Forms */
form {
    margin: 0;
    padding: 4px;
    font-size: 1em;
}

input, select, textarea {
    font-family: Trebuchet MS, Tahoma, Helvetica, Arial;
    padding: .2em;
}

select {
    cursor: pointer;
}

input.button {
    cursor: pointer;
    border: 1px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-color: #FFFFFF;
    background-image: url('../images/background_form_element.gif');
    background-repeat: repeat-x;
    color: black;
    margin: 0;
    font-weight: bold;
    font-size: .95em;
    padding: .2em;
}

input.important {
    border-width: 3px;
    font-size: 1em;
}

input.button:active {
    border-color: #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}

.fieldError, .fieldHelp {
    display: block;
    color: red;
    font-weight: bold;
    font-family: Trebuchet MS, Tahoma, Arial;
}

.fieldHelp {
    color: black;
    font-weight: normal;
}

fieldset {
    padding: 0 1em 1em 1em;
    margin: 0 1em 1em 1em;
    border-color: silver;
    border-collapse: collapse;
    width: 50%;
    display: block;
}

legend {
    padding: 0 .5em 0 .5em;
}

ul.form {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.form li {
    margin: .5em 0 .5em 0;
    height: 1%;
}

ul.form label {
    display: block;
    font-weight: bold;
}

ul.form label.checkbox {
    display: inline;
    font-weight: normal;
    cursor: pointer;
}

ul.form {
    margin-left: 1em;
}

fieldset ul.form {
    margin-left: 0;
}

/* user profile form */
form.profile fieldset input {
    width: 20em;
}

/* textblock editor */
textarea#form_text {
    width: 100%;
    height: 25em;
    font-family: monospace;
    font-size: 1em;
}

input#form_title {
    width: 100%;
    font-size: 1.2em;
    padding: .2em;
}

/* task editor */
form.task li#field_title, form.task li#field_author, form.task
li#field_source {
    float: left;
    margin-right: 1em;
}

form.task li#field_content {
    clear: both;
}

form.round li#field_tasks select {
    width: 20em;
}

/* Diff */
.diff {
    font-family: monospace;
}

.diff .deleted {
    display: block;
    background-color: #F66;
}

.diff .added {
    display: block;
    background-color: #6F6;
}

.diff span {
    margin: .5em 0 .5em 0;
    display: block;
}

/* Wiki text block */
.wiki_text_block {
    line-height: 2em;
}

.wiki_text_block a.wiki_link_external {
    color: green;
}

.wiki_text_block a.wiki_link_missing {
    color: red;
}

.wiki_text_block ul, .wiki_text_block ol {
    line-height: 1.5em;
    margin: 0 .5em 1em 3em;
}

.wiki_text_block ul {
    list-style-type: square;
}

.wiki_text_block ul li, .wiki_text_block ol li {
    margin: 0;
}

#main .wiki_text_block h2, .wiki_text_block h3, .wiki_text_block h4 {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    margin: .5em 0 0 0;
}

.wiki_text_block h2 {
    border-bottom: 1px solid #eee;
}

.wiki_text_block h3 {
    font-size: 1.3em;
}

.wiki_text_block h4 {
    font-size: 1.2em;
    font-style: italic;
}

.wiki_text_block ol {
    margin-top: 1em;
}

.wiki_text_block table {
    margin: .5em;
    width: 95%; /* IE FIX */
}

.wiki_text_block table.layout th, .wiki_text_block table.layout td {
    width: 50%;
    vertical-align: top;
    border: none;
    padding: 0 .3em 0 .3em;
    padding-right: 5%;
    text-align: left;
}

.wiki_text_block table.layout th {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    background-color: white;    
}

.wiki_text_block .compact {
    width: auto;
}

.wiki_text_block .compact td, .wiki_text_block .compact th {
    padding: .2em;
}

/* vertical menu */
.vmenu {
    float: right;
    border: 1px solid silver;
    width: 13em;
    margin: .5em;
    padding: .5em;
    background-color: #f0f0f0;
}

.vmenu li {
    margin-left: 1em;
    list-style-type: none;
}

.vmenu li.section {
    margin-left: 0;
    font-weight: bold;
}

.vmenu br {
    display: none;
}

.vmenu li a {
    display: block;
    width: 95%;
    padding-left: .4em;
}

.vmenu li a:hover {
    background-color: #006699;
    color: white;
    text-decoration: none;
}

.vmenu li a:visited {
    border-right: 2px solid white;
}

/* horizontal tabs */
.htabs {
    padding: 2px 0;
    margin: 1em 0 0 0;
    border-bottom: 1px solid #778;
    font-weight: bold;
}

.htabs li {
    list-style: none;
    margin: 0;
    display: inline;
}

.htabs li a {
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background: #DED;
    text-decoration: none;
}

.htabs li a:link { color: #484; }
.htabs li a:visited { color: #676; }

.htabs li a:hover {
    color: #000;
    background: #AEA;
    border-color: #272;
}

.htabs li.active a {
    background: white;
    border-bottom: 1px solid white;
}

/* Job details */
.job {
    width: 100%;
}

.job td, .job th {
    padding: .1em .3em .1em .3em;
    margin: 0;
    vertical-align: middle;
    height: 2.3em;
}

.job th {
    width: 7em;
    font-weight: bold;
    background-color: lightgray;
}

.job-eval-log {
    display: block;
    font-family: monospace;
    font-size: 1.1em;
    white-space: pre;
}

/* Basic table css */
table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #aaa;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

tr.odd td {
    background: #fff;
}

tr.even td {
}

th {
    background: #ddd;
}

/* inline task submit form */
.inlineSubmit ul.form {
    background-color: #f6f6f6;
    padding: 5px;
    margin: 0;
}

.inlineSubmit .form li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.inlineSubmit .form input, .inlineSubmit .form label {
    display: inline;
}

/* gallery macro */
.gallery {
}

.gallery .images a {
    margin: 5px;
    display: block;
    width: 134px;
    height: 84px;
    float: left;
    text-align: center;
    border: 2px solid white;
    background-color: #f0f0f0;
}

.gallery .images img {
    margin: 2px;
}

.gallery .pager {
    display: block;
    clear: left;
}

.gallery .images a:hover {
    border: 2px solid black;
    background-color: white;
}

/* task statement example */
table.example td {
    font-size: 1em;
    font-family: monospace;
    line-height: 1.5em;
    vertical-align: top;
    padding: .5em;
    white-space: nowrap;
}

/* wiki style sheets */
p.pre {
    white-space: pre;
    font-family: monospace;
    line-height: 1.5em;
    margin: 0;
}

p.pre br {
    display: none;
}

table.numbers td, table.numbers th {
    text-align: right;
}

div.tiny-user {
    height: 24px;
    display:inline;
}

div.tiny-user a {
    text-decoration: none;
}

div.tiny-user .username {
    font-weight:bold;
}

div.tiny-user img {
    border:1px solid #D8D6CB;
    background:#fff;
    display:inline;
    vertical-align:middle;
    margin:3px;
}

div.normal-user {
    height: 48px;
    line-height: 1.5em;
}

div.normal-user .username {
    font-weight:bold;
}


div.normal-user img {
    border:1px solid #D8D6CB;
    background:#fff;
    display:block;
    float:left;
    margin:7px;
}

/* monitor */
table.monitor {
    width: 95%; /* Fix IE */
    margin: .5em 0 2em 0;
}

/* task list */
.tasks td.score, .tasks th.score {
    width: 10%;
    padding-right: 4pt;
}
.tasks td.score {
    font-size: .7em;
    color: gray;
}
.tasks td.task {
    padding-left: 23px;
    background-repeat: no-repeat;
    background-position: 3px center;
}
.tasks tr.solved td.task {
    background-image: url('../images/icons/task_solved.gif');
}
.tasks tr.tried td.task {
    background-image: url('../images/icons/task_tried.gif');
}
.tasks tr.tried td.score, .tasks tr.solved td.score {
    color: black;
    font-size: 1em;
}

/* pager (paginator) */
.pager a, .pager strong {
    padding: .2em .5em .2em .5em;
}
.pager a:hover {
    background-color: silver;
}

/* user count */
.user-count {
    margin-top: 1em;
    margin-left: 1.2em;
    text-align: left;
    color:#6A6A6B;

}

/* task enumeration */
.task_enum {
    font-size: .9em;
}

