/* Basic styles */
body {
    font-family: 'Ubuntu', Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}



#sidebar2 {
    background-color: #2097fc;
	color: #FFF;
}

.sidebar_item {
	font-size: 11pt;
	width: 80%;
    padding: 3px 15px;
    color: #6A6A6B;
}


/* Layout */
/*
The basic layout of the homepage is as follows:

- #page
    - #header
    - #content
        - #sidebar
        - #main
            - h1
            - .wiki_text_block
                - h[2|3|4]
                - ul
                - ol
                - ...
            - .news
                .item
                    .date
                    h3
                    .wiki_text_block
    - #footer
*/

#content_small {
	margin-top: 10px;
}

#nav li {
    font-size: 11pt;
}

/* Headers */
#main h1, #main h2, #main h3 {
    font-family: 'Cabin', Georgia, "Times New Roman", Times, serif;
}

/* Breadcrumbs */
#breadcrumbs {
    font-size:12px;
}

/* Flash */
div.flash {
    background-color: #ffb500;
    color: #222;
}

/* Forms */
form {
    font-size: 1.05em;
}

input, select, textarea {
    font-family: 'Ubuntu', Trebuchet MS, Tahoma, Helvetica, Arial, sans-serif;
}

input.button {
	background-color: #2097fc;
	background-image: none;
    border: 0;
    color: white;
    padding: .35em .6em ;
}

input.important {
    font-size: 1.05em;
}

/* horizontal tabs */
ul.htabs {
  border-bottom: 1px solid #2097fc;
  font-weight: bold;
  margin: 1.5em 0 1em 0;
  padding-bottom: 0;
}

.htabs li a,
.htabs li a:link,
.htabs li a:visited {
  background: #fff;
  border-color: #2097fc;
  color: #2097fc;
  display: inline-block;
}

.htabs li a:hover {
  background: #a8ddff;
  border-color: #2097fc;
  color: #222;
}

.htabs li.active a {
	color: #fff;
	font-weight: 600;
  background: #2097fc;
  border-bottom: 0;
  text-decoration: none;
}

/* Tasks table */
table.tasks {
    line-height: 1.7em;
}

table.tasks .open_task {
  float: right;
}

.inlineSubmit #form_compiler {
    width: 12em;
}

.inlineSubmit #form_round {
    width: 12em;
}

#monitor-table, table.tasks  {
	font-size: 10.4pt;
}

/* task list */
.tasks td.score, .tasks th.score {
	text-align:center;
}

td.rating, th.rating {
	text-align: center;
}

.banner {
    background-color: rgb(178 215 241);
}

/* Round status icons */
.round-complete, .round-waiting, .round-running {
	margin: auto;
}

#task-filter-help div {
    border: none;
}

.text-right {
  text-align: right;
}
