/* site header */

#header {
    border-bottom: 1px solid #fff;
    background: url('../images/logo_bg.jpg') repeat-x top left;
}

#header h1 a {
    background:url('../images/logo.svg') no-repeat left top;
    width: 200px;
}

/* search box in site header */
#search {
    background:#5C880B url(../../images/search.jpg) no-repeat bottom left;
}

/* userbox in site header */
#userbox {
    background-color:#ffb500;
	background-image:none;
    line-height: inherit;
}

#userbox, #userbox a {
    color: #222;
}

/* site footer */
#footer {
    border-top:1px solid #FFF;
    background:url(../images/footer.jpg) repeat-x top;
    color:#222;
}

/* datagrids */
td.number, th.number, td.date, th.date, th.state {
    text-align: center;
}
